.links a {
  padding: 8px;
  display: flex;
}
@font-face {
  font-family: instrument;
  src: url(fonts/InstrumentSerif-Italic.woff);
}
h1 {
  font-family: instrument;
  font-style: oblique;
}
@font-face {
  font-family: indie;
  src: url(fonts/IndieFlower-Regular.woff);
}

@font-face {
  font-family: inclusive;
  src: url(fonts/InclusiveSans-Regular.woff);
}
h2 {
  font-family: indie;
}
button {
  background-color: #d9381f;
  color: rgb(07, 58, 96);
  margin: 1em;
  border-radius: 2em;
}

button a {
  color: #ffffff;
}
p,
li,
dl {
  font-family: inclusive;
}
@media (max-width: 600px) {
  h1 {
    text-align: center;
  }
}
a {
  color: #c82121;
}

h1,
h2,
p,
li,
dl {
  color: rgb(07, 58, 96);
}
body {
  background-color: #fbf6ec;
}
header,
footer {
  background-color: #fbe5ad;
  border: #d9381f solid;
}
.insta img,
.YT img,
.Sub img {
  max-height: 20px;
  max-width: 30px;
  display: grid;
  grid-template-columns: 1fr;
}
p,
h2 {
  margin: 1em;
}
.sky {
  max-height: 250px;
}
.jord {
  max-height: 250px;
}
.top5 {
  list-style: numbered;
}
@media (min-width: 600px) {
  .his1 img,
  .his2 img,
  .his3 img,
  .his4 img {
    max-height: 150px;
    max-width: 200px;
  }
  .wave {
    max-height: 400px;
    max-width: 1200px;
  }
}

/* burger ccc
body {
  font-family: sans-serif;
  margin: 0;
}*/

/* skjul checkbox */
#menu-toggle {
  display: none;
}

/* burger ikon */
.menu-icon {
  display: block;
  width: 30px;
  cursor: pointer;
  padding: 15px;
}

.menu-icon span {
  display: block;
  height: 3px;
  background: rgb(07, 58, 96);
  margin: 6px 0;
  transition: 0.3s;
}

/* menu */
.menu {
  display: none;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  display: block;
  padding: 12px;
  text-decoration: none;
  border-top: 1px solid #ddd;
}

/* når checkbox er checked */
#menu-toggle:checked + .menu-icon + .menu {
  display: block;
}

/* lille animation på burgeren */
#menu-toggle:checked + .menu-icon span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#menu-toggle:checked + .menu-icon span:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .menu-icon span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

/* desktop */
@media (min-width: 768px) {
  .menu {
    display: block;
  }

  .menu ul {
    display: flex;
    gap: 20px;
  }

  .menu a {
    border: none;
  }

  .menu-icon {
    display: none;
  }
}
img {
  max-width: 100%;
}
.gallery-item {
  display: grid;
}
.gallery-item > * {
  grid-area: 1/1;
}
.on-top {
  align-self: center;
  justify-self: center;
  background-color: #93a1b7;
}
.history {
  background-image: url(img/cloud.webp);
}
dl {
  padding: 0.5em;
}
.wave {
  max-height: 250px;
}
.wine {
  max-height: 200px;
}
